
<!-- ============================ Footer =========================== -->
<div class="return-top">
    <a data-action:"return-top" data-tip="回到顶部" href="" class="btn-return-top"> 
        <div class="arrow"></div>
        <div class="stick"></div>
    </a>
</div>
<footer>
    <div class="footer">
            <div class="myself">
                <p>
                   
                </p>
            </div>
            <div class="copy">
                <p style="margin:0">
                    &copy; 2016 <%- config.author %>
                </p>
                <p style="margin:0">
                    Powered by <a href="http://zespia.tw/hexo" style="color: #E24412">Hexo</a> | Theme by <a href="https://github.com/yangzj1992/TKL" style="color: #E24412">Kieran</a>
                </p>
                <p style="margin:0">
                    <span style="display: inline;" id="busuanzi_container_site_pv">This site already had <span id="busuanzi_value_site_pv" style="color:white"></span> Visits by</span>
                    <span style="display: inline;" id="busuanzi_container_site_uv"><span id="busuanzi_value_site_uv" style="color:white"></span> Visitors since </span>
                    <span id="from_date" style="color:white">2016-01-08</span>
                </p>
            </div>
            <div class="social">
                <ul>
                    <% if(theme.GitHub){ %>
                    <li><a href="<%- theme.GitHub %>" title="Github" target="_blank"><i class="icon-Popular_GitHub"></i>&nbsp;</a></li>
                    <% } %>
                    <li class="weixin"><a href="javascript:void(0)" title="Weixin"><i class="icon-CN_tencent_wechat"></i>&nbsp;</a></li>
                    <% if(theme.Weibo){ %>
                    <li><a href="<%- theme.Weibo %>" title="Sina-Weibo" target="_blank"><i class="icon-CN_sina_weibo"></i>&nbsp;</a></li>
                    <% } %>
                    <% if(theme.Twitter){ %>
                    <li><a href="<%- theme.Twitter %>" title="Twitter" target="_blank"><i class="icon-Popular_Twitter"></i>&nbsp;</a></li>
                    <% } %>
                    <% if(theme.ZhiHu){ %>
                    <li><a href="http://www.zhihu.com/people/tangqi92" title="Zhihu" target="_blank"><i class="icon-CN_zhihu"></i></a>&nbsp;</li>
                    <% } %>
                </ul>
            </div>
            
            <div class="clearfix"> </div>
        </div>
        <div style="display:none">
            <%- partial('cnzz') %>  
        </div>
</footer>
<!-- 不蒜子统计脚本-->
<script async src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<script async id="dsq-count-scr" src="https://<%= theme.disqus_shortname %>.disqus.com/count.js" ></script>
<!-- ============================ END Footer =========================== -->